.Card-container {
    justify-content: center;
    align-items: center;
    background-color: #AFAFAF;
    border: 3px solid black;
    border-radius: 8px;
    width: 28vw;
    margin: 10px 10vw 10px 10px;
}

.Card-container img {
    width: 100%;
    height: 85%;
}

.Card-container p {
    text-align: center;
}