.App-logo {
  height: 12vmin;
  pointer-events: none;
  margin-left: 2vh;
}

.App-header {
  align-items: center;
  background-color: rgba(0, 93, 150);
  display: inline-block;
  min-height: 5vh;
  display: flex;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-routes {
  font-size: 30px;
  flex: 1;
  text-align: right;
  margin-right: 10px;
}

.Text {
  color: rgb(255, 255, 255);
  background-color: black;
  border: 2px white solid;
  border-radius: 5px;
  margin: 10px;
}